body {
    background-color: #ffffff !important;
    font-family: Consolas, Monaco, monospace !important;
    line-height: 1.6 !important;
    font-weight: 400 !important;
    color: #222 !important;
}

iframe {
    margin-top: 15px !important;
    border: none !important;
}

.button {
    display: inline-block !important;
    height: 38px !important;
    padding: 0 30px !important;
    color: #000000 !important;
    text-align: center !important;
    font-size: 15px !important;
    line-height: 38px !important;
    text-decoration: none !important;
    white-space: nowrap !important;
    background-color: transparent !important;
    border: 1px solid #bbb !important;
    cursor: pointer !important;
    box-sizing: border-box !important;
}

code {
    padding: .2rem .5rem !important;
    margin: 0 .2rem !important;
    font-size: 90% !important;
    white-space: nowrap !important;
    border: 1px solid #E1E1E1 !important;
    border-radius: 4px !important;
}

pre>code {
    display: block !important;
    padding: 1rem 1.5rem !important;
    white-space: pre !important;
}

ul.tab-nav {
    list-style: none !important;
    border-bottom: 1px solid #bbb !important;
    padding-left: 5px !important;
    margin-top: 0px !important;
    margin-bottom: -10px !important;
}

ul.tab-nav li {
    display: inline;
}

ul.tab-nav li a.button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
    margin-left: 10px;
    border-bottom: none;
}

ul.tab-nav li a.active.button {
    border-bottom: 0.175em solid #fff !important;
}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}